/* GLOBAL STYLES */
* {
  font-family: 'Avenir', 'Hind', 'Helvetica', 'Arial', sans-serif;
  color: #212121;
  font-size: 1em;
}

a {
  color: #FF5252;
}
a:hover, a:active, a:focus {
  text-decoration: none;
  color: #FF1744;
  outline: none;
}

.container-fluid.main-body {
  padding: 0;
}

#name-logo {
  line-height: 50px;
}
.navbar-default {
  background-color: white;
  border: none;
  padding: 1em 0;
}

/* nav bar links */
.nav-bar-nav {
  padding: 0 100px; /* change for responsive */
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.nav-bar-list {
  height: 56px;
  padding: 0;
  margin: 0;
}
.nav-bar-link {
  line-height: 56px;
  display: inline-block;
  margin: 0 16px;
  float: right;
}

.nav-bar-link > a {
  color: #212121;
  font-size: 14px;
}

.nav-bar-link > a:hover,
.nav-bar-link  > a:focus,
.nav-bar-link > a:active {
  color: #FF5252;
  text-decoration: none;
}

#nav-bar-link-name {
  float: left;
  margin: 0 16px 0 0 ;
}
.large-headings {
  padding: 4px 0;
}

.medium-headings {
  padding: 0 0 4px;
  font-size: 20px;
}

.medium-text {
  font-size: 18px;
  opacity: 0.87;
  line-height: 26px;
}

.container-fluid {
  padding: 0;
}

.intro-wrapper {
  padding: 6.5em 100px 2.5em;
}

.project-section-wrapper {
  padding: 1em 100px;
}

i {
  color: #FF8A80;
  padding-right: 16px;
}

i:hover,
i:active,
i:focus {
  color: #FF1744;
  cursor: pointer;
  outline: none;
}

i.non-link-icons {
  padding: 0;
  color: #9E9E9E;
}

i.non-link-icons:hover,
i.non-link-icons:active,
i.non-link-icons:focus {
  color: #9E9E9E;
  cursor: default;
}
/* lines up titles with rows*/
.row {
  margin: 0;
}

.project {
  height: 250px;
  border-right: 8px solid white;
  border-bottom: 8px solid white;
  background-color: green;
  padding: 0;
}

.project:hover {
  box-shadow: inset 10000px 1000px 0 0 rgba(0,0,0,0.2);
}

.project-information {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0 16px;
  background-color: rgba(0,0,0,0.56);
}
.project-title {
  color: white;
  margin: 16px 0 0;
  font-size: 16px;
}

.project-description {
  color: white;
  font-size: 12px;
  line-height: 20px;
  margin: 8px 0 16px;
  color: rgba(256,256,256,0.78);
}

/* --------------------------------------------- */
/* Project Pages */

/* Project Buttons */
.fa-long-arrow-left {
  margin: 16px 0 0 56px;
}

.p-buttons-wrapper {
  text-align: center;
}

.p-btn {
  margin: 4px 4px 0;
  padding: 4px 16px;
  border-radius: 100px;
  background-color: white;
  border: 1px solid #FF5252;
  color: #FF5252;
  font-size: 14px;
  font-family: 'Avenir', 'Hind', 'Helvetica', sans-serif;
}

.p-btn i {
  color: #FF5252;
  padding-right: 4px;
}

.p-btn:hover, .p-btn:focus, .p-btn:active {
  background-color: #FF5252;
  outline: none;
  color: white;
}

.p-btn:hover i, .p-btn:active i, .p-btn:focus i {
  color: white;
}

.p-btn:hover a, .p-btn:active a, .p-btn:focus a {
  color: white;
}

.p-cover-image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.p-name {
  font-size: 28px;
  text-align: center;
  margin: 8px 0;
}

.p-heading {
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  opacity: 0.87;
}

.p-section {
  padding: 0;
}

.p-section-heading {
  font-size: 20px;
  padding: 24px 0 8px;
}

.p-section-text {
  font-size: 16px;
  line-height: 28px;
  opacity: 0.87;
}

.p-section-img {
  display: block;
  width: 100%;
  height: auto;
  margin: 16px auto;
}

.footer-text {
  text-align: center;
  font-size: 14px;
  color: rgba(0,0,0,0.56);
  margin: 16px 0 36px;
}

#defender {
  background: url("../img/defender-thumbnail.png") no-repeat center;
  background-size: cover;
}

#remindr {
  background: url("../img/remindr-thumbnail.png") no-repeat center;
  background-size: cover;
}

#settlers {
  background: url("../img/catan-thumbnail.png") no-repeat center;
  background-size: cover;
}

#snag {
  background: url("../img/snag-thumbnail.png") no-repeat center;
  background-size: cover;
}


@media only screen and (max-width : 768px) {
  .fa-long-arrow-left {
    margin: 16px 0 0 24px;
  }
  .p-cover-image {
    margin: 0 36px;
  }
}

@media only screen and (max-width : 576px) {
  .intro-wrapper {
    padding: 6.5em 16px 2.5em; /* change for responsive */
  }

  .project-section-wrapper {
    padding: 1em 16px; /* change for responsive */
  }

  .nav-bar-nav {
    padding: 0 16px;
  }

  .nav-bar-link {
    line-height: 56px;
    display: inline-block;
    margin: 0 8px;
    float: none;
  }

  .fa-long-arrow-left {
    margin: 16px 0 0 16px;
  }

  .p-cover-image {
    margin: 0 16px;
  }

  .p-section-heading {
    margin: 0 16px;
  }

  .p-section-text {
    margin: 0 16px;
  }

  .footer-text {
    margin: 8px 0 16px;
  }
}
